<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>{% block title %} Base HTML {% endblock %}</title>
</head>
<body>

    <nav class="navbar navbar-light bg-primary justify-content-between ">
        <div class="container">
          <a href="/" class="navbar-brand text-light">Flask Feedback</a>
          <ul class="nav navbar-nav flex-row float-right">
            {% if session['username'] %}
            <li class="nav-item">
              <a class="nav-link pr-3 text-light" href="/logout">Logout</a>
            </li>
            
            {% else %}
            <li class="nav-item">
              <a class="nav-link pr-3 text-light" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="/register">Sign up</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </nav>

    {% block content %}

    {% endblock %}
    
</body>
</html>